.formWorkout > * {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px;
}

#jour, #nom {
  height: 40px;
}

.choiceList {
  border:1px solid rgba(0, 0, 0, 0.363);
  margin: 0px auto;
  height: 50vh;
  overflow-y: scroll;
}


.exoChoice {
  display:flex;
  justify-content: space-between;
  margin: 5px;
}

.exoChoice > * {
  display:flex;
  align-items: center;
}
.exoChoice div > * {
  margin : 0 10px;
}
.exoChoice input {
  display: inline-block;
}

input[type="number"] {
  width: 80px;
}

@media (max-width: 450px) {  
  .exoChoice > * {
    margin:0px;
  }
  input[type="number"] {
    width: 50px;
    margin:0;
  }
  label {
    font-size: 11px;
    margin:0;
  }
}
