<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entraiment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="addWorkout.css" />
  </head>
  <body>
    <h1>Ajouter un entrainement</h1>
    <form class="formWorkout">
      <div class="choixJour">
        <label for="jour">Jour de la semaine</label>
        <select name="jour" id="jour">
          <option value="">Choix du Jour</option>
          <option value="lundi">Lundi</option>
          <option value="mardi">Mardi</option>
          <option value="mercredi">Mercredi</option>
          <option value="jeudi">Jeudi</option>
          <option value="vendredi">Vendredi</option>
          <option value="samedi">Samedi</option>
          <option value="dimanche">Dimanche</option>
        </select>
      </div>
      <div class="nomWorkout">
        <label for="nom">Nom de l'entrainement</label>
        <input type="text" name="nom" id="nom" placeholder="Upper A">
      </div>
      <div class="choiceList">

        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
        <div class="exoChoice">
          <input type="checkbox" name="leg" id="leg">
          <label for="leg">Leg Extensions</label>
          <input type="number" name="nbrSet" id="nbrSet" placeholder="nbr Séries">
          <img src="https://picsum.photos/50" alt="" />
        </div>
      </div>
      <button class="addWorkout">Ajouter l'entrainement</button>

    </form>
  </body>
</html>
