<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entraiment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Entrainement</h1>

    <button class="addWorkout">Ajouter un entrainement</button>

    <div class="workout">
      <h2>Mardi - Jambes</h2>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
    </div>

    <div class="workout">
      <h2>Mercredi - Epaules</h2>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
      <div class="exercice">
        <div class="imgExercice">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="detail">
          <div class="descriptionExo">3 x Leg Extension</div>
          <div class="groupeMuscle">Jambes</div>
        </div>
      </div>
  </body>
</html>
